.logo-header{
    border-bottom: 2px solid rgb(217, 218, 220);
}
.logo-header img{
    display: block;
    padding-bottom: 10px;
    margin: 0 auto;
}
#login-form input {
    padding: 25px;
}
#login-form label {
    color: #000;
}
#login-form button {
   padding: 10px;
   border-radius: 50px;
   background-color: var(--fav);
}
.btn-custom{
    padding: 10px;
    border-radius: 50px;
    border: 2px solid rgb(217, 218, 220);
 }
 form{
    border-bottom: 2px solid rgb(217, 218, 220);
 }
 .register-section p {
     color: #000;
     font-weight: bold;
     text-align: center;
 }