.parent-el-dropdown {
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

.parent-el-dropdown::before {
  position: absolute;
  content: '';
  width: 100%;
  height: var(--nav-height);
  top: calc(var(--nav-height) - 16px);
  left: 0;
  background-color: transparent;
}

.header-dropdown {
  position: absolute;
  top: var(--nav-height);
  right: 0;
  background-color: transparent;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: top;
  transition: all ease-in-out .2s;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
}

.parent-el-dropdown:hover .header-dropdown {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

.header-dropdown a {
  display: block;
  text-align: center;
  color: var(--light);
  text-decoration: none;
  padding: 4px 8px;
  background-color: var(--dark);
  transition: all ease-in-out .2s;
  opacity: 1;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -ms-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
}

.header-dropdown a:hover {
  opacity: .6;
}

.lang-dropdown span,
.lang-dropdown span.icon {
  font-size: 16px;
}

.user-dropdown {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.avatar {
  width: calc(var(--nav-height) - 20px);
  height: calc(var(--nav-height) - 20px);
  margin-right: 8px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.username {
  margin-right: 8px;
}

.danger-el {
  color: var(--light) !important;
  background-color: var(--danger) !important;
}
.nav-item{
  list-style: none;
}
.nav-link{
  color: #fff;
  text-decoration: none;
}
.nav-link:hover{
  color: #fff;  
}
.user-dropdown-list button{
  background-color: #cc0000;
  text-align: center;
}
.user-dropdown-list button span{
  display: block;
  margin: 0 auto;
}
.user-dropdown-list button:hover{
  background-color: #b30000;
}
