.main-content {
    width: 100%;
    min-height: 100vh;
    padding-top: 60px;
  }

  .horizontal-list-title {
    padding-bottom: 24px;
  }

  .horizontal-list-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .horizontal-list-header a{
    color: var(--gray);
    text-decoration: none;
  }
  .horizontal-list-header a:hover{
    color: #fff;
  }

  .horizontal-list-slick {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slick-list {
    margin: 0 24px;
  }

  .slick-arrow {
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: transparent;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .slick-prev::before {
    position: absolute;
    content: '⮜';
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 32px;
    color: var(--dark);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .slick-next::before {
    position: absolute;
    content: '⮞';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 32px;
    width: 100%;
    height: 100%;
    color: var(--dark);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .content {
      display: flex;
      flex-flow: row wrap;
  }
  .content__left {
      width: 15%;
  }
  .content__middle {
      width: 100%;
  }
  .content__right {
      width: 15%;
  }
  @media (max-width: 1400px) {
      .content__left {
          width: 20%;
     }
      .content__middle {
          width: 100%;
     }
      .content__right {
          display: none;
     }
  }
  @media (max-width: 768px) {
      .content__left {
          width: 100%;
     }
      .content__middle {
          width: 100%;
     }
  }
  .playlist {
      padding: 15px;
      background: #282828;
      border-top: 1px solid #181818;
      border-bottom: 1px solid #181818;
  }
  .playlist:hover {
      background: #424242;
  }
  .playlist:hover a {
      color: #fff;
  }
  .playlist a {
      color: #aaa;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
  }
  .playlist a:hover {
      text-decoration: none;
  }
  .playlist a i {
      font-size: 24px;
      color: #fff;
      margin-right: 15px;
  }
  @media (max-width: 768px) {
      .playlist {
          display: none;
     }
  }
  .playing {
      background: #282828;
      border-bottom: 1px solid #181818;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
  }
  .playing__art img {
      width: 50px;
      height: 50px;
  }
  .playing__song {
      color: #aaa;
      padding-left: 15px;
      display: flex;
      flex-flow: column wrap;
  }
  .playing__song a {
      color: #aaa;
  }
  .playing__song a:hover {
      color: #fff;
      cursor: pointer;
  }
  .playing__add {
      margin-left: auto;
      padding-right: 15px;
      color: #aaa;
  }
  @media (max-width: 768px) {
      .playing {
          border-top: 1px solid #181818;
     }
  }
  .current-track {
      background: #282828;
      padding: 5px 15px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
  }
  .current-track__actions {
      width: 5%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
  }
  .current-track__actions a {
      font-size: 24px;
      color: #c8c8c8;
  }
  .current-track__actions a:hover {
      color: #fff;
      cursor: pointer;
  }
  .current-track__actions .play {
      font-size: 36px;
  }
  .current-track__progress {
      width: 70%;
      padding: 0 30px;
      color: #aaa;
      font-size: 11px;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
  }
  .current-track__progress__bar {
      width: 100%;
      padding: 0 15px;
  }
  .current-track__progress__bar .noUi-target {
      border: none;
      height: 4px;
  }
  .current-track__progress__bar .noUi-base {
      background: #1ed760;
  }
  .current-track__progress__bar .noUi-origin {
      background: #5e5e5e;
  }
  .current-track__progress__bar .noUi-handle {
      background: #c8c8c8;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      box-shadow: none;
      border: none;
      left: 0;
      display: none;
  }
  .current-track__progress__bar .noUi-handle:before, .current-track__progress__bar .noUi-handle:after {
      background: none;
  }
  .current-track__progress:hover .noUi-handle {
      display: block;
  }
  .current-track__options {
      width: 25%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
  }
  .current-track__options .lyrics {
      font-size: 11px;
      text-transform: uppercase;
      width: 15%;
      padding: 0 15px 0 0;
  }
  .current-track__options .controls {
      width: 85%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }
  .current-track__options .controls .devices:hover {
      text-decoration: none;
  }
  .current-track__options .controls .devices i {
      margin-right: 5px;
  }
  .current-track__options .controls .devices span {
      font-size: 11px;
      text-transform: uppercase;
  }
  .current-track__options .controls .volume {
      width: 25%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
  }
  .current-track__options .controls .volume i {
      width: 20px;
      color: #aaa;
  }
  .current-track__options .controls .volume #song-volume {
      width: calc(80% - 20px);
      border: none;
      height: 4px;
  }
  .current-track__options .controls .volume #song-volume .noUi-base {
      background: #c8c8c8;
  }
  .current-track__options .controls .volume #song-volume .noUi-origin {
      background: #5e5e5e;
  }
  .current-track__options .controls .volume #song-volume .noUi-handle {
      background: #c8c8c8;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      box-shadow: none;
      border: none;
      left: 0;
      display: none;
  }
  .current-track__options .controls .volume #song-volume .noUi-handle:before, .current-track__options .controls .volume #song-volume .noUi-handle:after {
      background: none;
  }
  .current-track__options .controls .volume #song-volume:hover .noUi-handle {
      display: block;
  }
  @media (max-width: 1400px) {
      .current-track__actions {
          width: 10%;
     }
      .current-track__progress {
          width: 50%;
     }
      .current-track__options {
          width: 40%;
     }
  }
  @media (max-width: 980px) {
      .current-track__actions {
          width: 10%;
     }
      .current-track__progress {
          width: 40%;
     }
      .current-track__options {
          width: 50%;
     }
  }
  @media (max-width: 768px) {
      .current-track__actions {
          width: 25%;
     }
      .current-track__progress {
          width: 75%;
     }
      .current-track__options {
          width: 100%;
     }
  }
  @media (max-width: 480px) {
      .current-track__actions {
          width: 100%;
          justify-content: space-around;
          padding: 5px 0;
     }
      .current-track__progress {
          width: 100%;
          padding: 5px 0;
     }
      .current-track__options {
          width: 100%;
          padding: 5px 0;
     }
  }
  @media (max-width: 768px) {
      .current-track__action {
          padding-top: 15px;
     }
  }
  .header {
      height: 280px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #282828;
      position: relative;
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/spotify_img_bground.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      z-index: 1;
      flex-flow: row wrap;
      justify-content: space-between;
  }
  .header:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0.15;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
  }
  .header .info {
      padding: 15px;
      z-index: 1;
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
  }
  .profile__img {
      margin-right: 50px;
  }
   .profile__img img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
  }
  .info__type {
      color: #aaa;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1px;
  }
  .info__name {
      color: #fff;
      font-size: 36px;
      font-weight: 100;
      padding: 0 0 10px 0;
  }
  .info__description {
      color: var(--gray);
      font-size: 16px;
      font-weight: 100;
      padding: 0 0 10px 0;
  }
  .info__author {
      color: var(--gray);
      font-size: 13px;
      font-weight: 100;
      padding: 0 0 10px 0;
  }
  .info__amount{
      color: var(--gray);
      font-size: 13px;
      font-weight: 100;
      padding: 0 0 10px 0;
  }
  .info__actions {
      display: flex;
      flex-flow: row wrap;
  }
  .profile__img {
      position: relative;
  }
  .content {
      padding: 15px;
  }
  .content .overview {
      display: flex;
      flex-flow: row wrap;
  }
  .content .overview_item {
      padding-right: 15px;
      width: 100%;
  }
  .content .overview_item .latest-release {
      margin-bottom: 30px;
      display: flex;
      flex-flow: row wrap;
  }
  .content .overview_item .latest-release__art {
      width: 75px;
  }
  .content .overview_item .latest-release__art img {
      width: 75px;
      height: 75px;
      object-fit: cover;
  }
  .content .overview_item .latest-release__song {
      width: calc(100% - 75px);
      padding: 10px 15px;
      background: #282828;
      color: #aaa;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
  }
  .content .overview_item .latest-release__song__title {
      color: #c8c8c8;
  }
  .content .overview__related {
      width: 30%;
  }
  @media (max-width: 1024px) {
      .content .overview_item {
          width: 100%;
     }
      .content .overview__related {
          width: 100%;
          margin-top: 15px;
     }
  }
  @media (max-width: 768px) {
      .content .overview_item {
          padding-right: 0;
     }
  }
  @media (max-width: 768px) {
      .categrory {
          overflow-y: auto;
     }
  }
  @media (max-width: 522px) {
      .categrory__header {
          height: auto;
          flex-flow: column wrap;
     }
      .categrory__header .info {
          margin-top: 0;
          width: 100%;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          text-align: center;
     }
      .categrory__header .info .profile__img {
          margin-right: 0;
     }
      .categrory__header .info__type {
          margin-top: 10px;
     }
      .categrory__header .categrory__listeners {
          width: 100%;
          text-align: center;
     }
  }
  .tracks {
      display: flex;
      flex-flow: column wrap;
      margin-bottom: 15px;
      padding-top: 15px;
  }
  .tracks__heading {
      color: #aaa;
      height: 42px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
  }
  .tracks__heading__number {
      margin-left: 10px;
      font-style: italic;
  }
  .tracks__heading__title {
      margin-left: 70px;
      width: 45%;
      text-transform: uppercase;
      letter-spacing: 1px;
  }
  .tracks__heading__length {
      margin-left: auto;
      font-size: 20px;
  }
  .tracks__heading__popularity {
      font-size: 20px;
      margin-left: 55px;
      padding-right: 10px;
  }
  .tracks .track {
      border-top: 1px solid #282828;
      height: 65px;
      flex-flow: row wrap;
      align-items: center;
  }
  .tracks .track:hover {
      background: #282828;
      border-radius: 10px;
  }
  .tracks .track:last-child {
      border-bottom: 1px solid #282828;
  }
  .tracks .track__art {
      height: 100%;
      display: flex;
      padding-top: 8px;
      align-items: center;
  }
  .tracks .track__art .track__info {
      height: 100%;
      display: flex;
      flex-direction: column;
  }
  .tracks .track__art img {
      width: 45px;
      height: 45px;
      margin-right: 20px;
      border-radius: 10px;
      object-fit: cover;
  }
  .tracks .track__number {
      margin-right: 20px;
      color: #aaa;
      min-width: 20px;
      text-align: center;
  }

  .tracks .track__title {
      color: #fff;
  }
  .tracks .track__author {
      color: #adad85;
      font-size: 13px;
  }
  .tracks .track__title.featured .title:after {
      content: "-";
      margin: 0 5px;
  }
  .tracks .track__title.featured .feature {
      color: #aaa;
  }
  .tracks .track__title.featured .feature:after {
      content: ",";
      margin-right: 5px;
  }
  .tracks .track__title.featured .feature:last-child:after {
      content: "";
      margin-right: 0;
  }
  .tracks .track__title.featured .feature:hover {
      cursor: pointer;
      color: #c8c8c8;
      text-decoration: underline;
  }
  .tracks .track__explicit .label {
      border: 1px;
      border-style: solid;
      border-color: #424242;
      color: #424242;
      text-transform: uppercase;
  }
  .tracks .track__album a{
      color: #aaa;
      margin-left: auto;
      padding-right: 10px;
  }
  .tracks .track__length {
      margin-left: auto;
      color: #aaa;
  }
  .tracks .track__popularity {
      margin-left: 46px;
      padding-right: 10px;
      font-size: 20px;
      color: #aaa;
  }
  @media (max-width: 1200px) {
      .tracks__heading__title {
          width: auto;
     }
      .tracks__heading__popularity {
          display: none;
     }
      .tracks .track__title {
          width: auto !important;
     }
      .tracks .track__explicit {
          display: none;
     }
      .tracks .track__popularity {
          display: none;
     }
  }
  .related-categrorys {
      display: flex;
      flex-flow: column wrap;
  }
  .related-categrorys .related-categrory {
      background: #282828;
      padding: 5px;
      margin-bottom: 2px;
  }
  .related-categrorys .related-categrory:hover {
      background: #373737;
      text-decoration: none;
  }
  .related-categrorys .related-categrory__img img {
      width: 42px;
      height: 42px;
      object-fit: cover;
      border-radius: 50%;
  }
  .related-categrorys .related-categrory__name {
      margin-left: 15px;
      color: #fff;
  }
  @media (max-width: 1024px) {
      .related-categrorys {
          flex-flow: row wrap;
     }
      .related-categrorys .related-categrory {
          margin: 10px;
          width: calc((100% / 3) - 20px);
     }
  }
  @media (max-width: 768px) {
      .related-categrorys .related-categrory {
          margin: 5px;
          width: calc((100% / 2) - 10px);
     }
  }
  @media (max-width: 480px) {
      .related-categrorys .related-categrory {
          margin: 5px;
          width: 20%;
          background: none;
     }
      .related-categrorys .related-categrory:hover {
          background: none;
          opacity: 0.6;
     }
      .related-categrorys .related-categrory__name {
          display: none;
     }
  }
  .overview__albums {
      width: 100%;
      margin-top: 30px;
  }
  .overview__albums__head {
      border-bottom: 1px solid #282828;
      margin-bottom: 10px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
  }
  .overview__albums__head .view-type {
      color: #fff;
      margin-bottom: 4px;
  }
  .overview__albums__head .view-type .active {
      background: #282828;
      padding: 8px;
      border-radius: 50%;
  }
  .overview__albums__head .view-type i {
      padding: 8px;
      border-radius: 50%;
  }
  .overview__albums__head .view-type i:hover {
      padding: 8px;
      border-radius: 50%;
      background: #353535;
      cursor: pointer;
  }
  .album__info {
      margin-bottom: 15px;
      display: flex;
      flex-flow: row wrap;
  }
  .album__info__art img {
      width: 135px;
      height: 135px;
  }

  @media (max-width: 1100px) {
      .media-cards .media-card {
          width: calc((100% / 3) - 30px);
     }
  }
  @media (max-width: 768px) {
      .media-cards .media-card {
          width: calc((100% / 2) - 30px);
     }
  }
  @media (max-width: 480px) {
      .media-cards .media-card {
          margin: 15px 0;
          width: 100%;
     }
  }
  ::-webkit-scrollbar {
      width: 8px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: #373737;
  }
  @media (max-width: 650px) {
      .header .window__actions {
          width: 15%;
     }
      .header .page-flows {
          width: 20%;
          margin: 0;
     }
      .header .search {
          width: 65%;
          margin: 0;
     }
      .header .search input {
          width: 100%;
          background-size: 7%;
     }
      .header .user {
          width: 100%;
          margin-top: 15px;
          justify-content: space-around;
     }
  }
  .h1 {
      font-size: 36px;
  }
  .h2 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 5px;
  }

  .green {
      color: #34c94a;
  }
  .green:hover {
      color: #2aa03b;
  }
  button {
      border: none;
      padding: 5px 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      outline: none;
  }
  button:hover {
      cursor: pointer;
  }
  .button-dark {
      background: #1ed760;
      color: #fff;
      border: 1px solid #1ed760;
  }
  .button-dark:hover {
      background: #43e57d;
  }
  .button-light {
      background: none;
      color: #c8c8c8;
      border: 1px solid #c8c8c8;
  }

  .section-title {
      text-transform: uppercase;
      color: #aaa;
      letter-spacing: 1.25px;
      font-size: 13.2px;
      margin-bottom: 15px;
  }
  .track-active{
      background: #282828;
      border-radius: 10px;
  }
  .active span svg path{
      fill: var(--fav);
  }
  .tab-content{
      width: 100%;
  }
  .title-table{
      height: 50px;
  }
  .remove-song{
      cursor:pointer ;
  }
  .remove-song svg{
      font-size: 25px;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s;
      fill: var(--fav);
  }
  .track:hover .remove-song svg{
      transform: rotate(90deg);
      visibility: visible;
      opacity: 1;
  }
  .delete-playlist:hover svg path{
      color: var(--fav);
      fill: var(--fav);
  }
